{% extends 'base.html' %}

{% block content %}

<h2>Welcome To Polling Unit Score</h2>
<br>
<small>To View any polling unit score, kindly complete the list below: </small>
<hr>

  <form class="col gx-3 gy-2 align-items-center" method="POST" hx-post="/announce-result/">
    {% csrf_token %}

        <div class="row">
            <div class="col-sm-2">
                <label for="state">Select State:</label>
            </div>  
            <select class="col-sm-4 form-control"
            id="state" name="state" 
            hx-get="{% url 'get_lgas_for_state' %}" 
            hx-trigger="change" 
            hx-target="#lga-container">
                <option value="">Select State</option>
                {% for state in states %}
                <option value="{{ state.id }}">{{ state.name }}</option>
                {% endfor %}
            </select>                
        </div>
            <br>

        <div id="lga-container" class="row">
            {% include 'website/partials/lga_options.html' %}
        </div>

            <br>

        <div id="ward-container" class="row">
            {% include 'website/partials/ward_options.html' %}
        </div>
        
            <br>

        <div id="polling-unit-container" class="row">
            {% include 'website/partials/polling_unit_options.html' %}
        </div>

        <div class="col-auto">
        <button type="submit" class="btn btn-primary">View Votes</button>
        </div>

  </form>

{% endblock content %}
