{% extends 'base.html' %}

{% block content %}

<h2>Welcome to Local-Government</h2>

<br>
<br>
<small>To view total score all polling unit under any local-government,kindly complete the list= below: </small>
<hr>

<!-- <form method="post">
    {% csrf_token %}
    {{ form.media.js }}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form> -->

<form class="col gx-3 gy-2 align-items-center" method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    {{ form.media.js }}
    <div class="row">
        <div class="col-auto" >
            <label for="StateID">Select the State: </label>
          </div>
          <div class="col-sm-3">
            <select class="form-control" id="specificSizeSelect" name="state">
              <option>Choose...</option>
              <!-- {% for polling_unit in distinct_ids %}
              <option value="{{ polling_unit }}">{{ polling_unit }}</option>
              {% endfor %} -->
            </select>
          </div>
    </div>
    <br>
    <div class="row">
        <div class="col-auto" >
            <label for="LGAID">Select the Local-Govt: </label>
          </div>
          <div class="col-sm-3">
            <select class="form-control" id="specificSizeSelect" name="lga">
              <option>Choose...</option>
              <!-- {% for polling_unit in distinct_ids %}
              <option value="{{ polling_unit }}">{{ polling_unit }}</option>
              {% endfor %} -->
            </select>
          </div>
    </div>
    <br>
    

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">View Votes</button>
    </div>
  </form>


{% endblock content %}